<%= form_with(model: head) do |form| %>
  <% if head.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(head.errors.count, "error") %> prohibited this head from being saved:</h2>

      <ul>
        <% head.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :surname, style: "display: block" %>
    <%= form.text_field :surname %>
  </div>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.text_field :position %>
  </div>

  <div>
    <%= form.label :techlead, style: "display: block" %>
    <%= form.check_box :techlead %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <% Project.all.each do |project| %>
    <div>
      <%= check_box_tag :projects, project.id, head.projects.include?(project), :name => 'head[projects][]', id: "project_#{project.id}" %>
      <%= label_tag :projects, project.name , for: "project_#{project.id}" %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
