<div id="<%= dom_id head %>">
  <p>
    <strong>Name:</strong>
    <%= head.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= head.surname %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= head.position %>
  </p>

  <p>
    <strong>Techlead:</strong>
    <%= head.techlead %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= head.notes %>
  </p>

</div>
