<p style="color: green"><%= notice %></p>

<%= render @head %>

<div>
  <%= link_to "Edit this head", edit_head_path(@head) %> |
  <%= link_to "Back to heads", heads_path %>

  <%= button_to "Destroy this head", @head, method: :delete %>
</div>
